$font-stack: 'Montserrat', sans-serif;
$color-bg-overlay: rgba(0, 0, 0, 0.6);
$spacing-base: 8px;
$icon-size: 50px;
$section-height: 100vh;
$transition-default: 0.4s;
$border: 1px solid black;
$border-radius: 30px;


// ОБЩИЕ СТИЛИ
* {
    margin: 0;
    padding: 0;
}
a {text-decoration: none}
.widthfull {width: 100%}
.disflex {display: flex}
p {font-size: 20px; line-height: 1.4; text-indent: $spacing-base * 2.5}
html {scroll-behavior: smooth; scroll-padding-top: 100px}
.heading {
    width: 100%;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin: 2% 0 2% 0;
    font-weight: 300;
    letter-spacing: 4px;
}







body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    &.lock {
        overflow: hidden;
    }
    &.open {
        overflow: auto;
    }
}
aside {
    width: 5%;
    height: $section-height;
    position: fixed;
    z-index: 10;
    

    nav {
        flex-direction: column;
        height: $section-height;
        align-items: center;
        justify-content: center;
        button {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            min-width: $icon-size;
            min-height: $icon-size;
            border-radius: $border-radius;
            border: $border;
            margin: 60% 0;
            background-color: white;
            padding: 0;
            position: relative;
            overflow: hidden;
            transform: translateX(-100%);
            opacity: 0;
            transition: transform $transition-default, opacity $transition-default;
            .icon {
                pointer-events: none;
                img {
                    width: $icon-size;
                    height: $icon-size;
                    pointer-events: none;
                }
            }
            }
            .text {
                position: absolute;
                right: 0%;
                width: 0%;
                opacity: 0; 
                color: black;
                font-family: $font-stack;
                font-weight: 400;
                font-size: 14px;
                text-transform: uppercase;
                white-space: nowrap;

                a{
                    pointer-events: none;
                }
            }
            :hover {
                width: 200px;
                border-radius: $border-radius;
                // $border-radius-round $border-radius-small $border-radius-small $border-radius-round
                margin-left: 145px;
            }
            :hover .text {
                opacity: 1;
                width: 150px;
                transition: $transition-default;
            }
    }
}




main {
    display: flex;
    flex-direction: column;
    font-family: $font-stack;

    section {
        height: $section-height;
    }

    .section1 {
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
        place-content: center;
        flex-direction: column;
        background: linear-gradient(rgba(0, 0, 0, 0.48), $color-bg-overlay), url('backs/eldrock-main.jpg');
        background-size: cover;
        background-attachment: fixed;

        h1 {
            color: white;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            letter-spacing: 16px;
            font-size: 140px;
            font-weight: 200;
            opacity: 0;
            transform: translateY(-50px);
            transition: transform $transition-default, opacity $transition-default;
        }
    }

    .logo-av {
        height: auto;
        place-content: center;
        width: 100%;
        img{
            width: 100%;
        }
    }


    .section2 {
        height: auto;
        flex-direction: column;
        margin-left: 5%;
        width: 90%;

        .about-photo{
            width: 100%;
            height: auto;
            flex-direction: column;
            gap: 10%;


            .block1 {
                width: 70%;
                margin-left: 15%;
                text-align: center;
                margin-bottom: 1%;
                p {
                    margin: 0;
                }
            }
            .block2,
            .block3 {
                gap: 5%;
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 1%;

                .photo {
                    width: 50%;
                    object-fit: contain;
                    img {
                        max-width: 100%;
                        height: auto;
                        border-radius: 5% 10%;
                        pointer-events: none;
                    }
                }
                .about {
                    flex-direction: column;
                    width: 50%;
                    text-align: justify;
                    p {
                        margin: 1% ;
                    }
                }
            }
        }
    }



        
    .section3 {
        flex-direction: column;
        place-items: center;
        height: 100vh;
        
        .benefits {
            width: 90%;
            height: 100%;
            flex-direction: row;
            justify-content: space-between;
            box-sizing: border-box;           

            .benefit {
                margin-bottom: 5%;
                height: 100%;
                width: 31%;
                border-radius: $border-radius;
                border:  $border;
                flex-direction: column;
                align-items: flex-start;
                box-sizing: border-box;
                padding: 0 1% 1% 1%;
                .benefit-text {
                    text-align: left;
                    margin-top: auto;
                    margin-bottom: 20%;
                    h3 {
                        width: 95%;
                        font-size: 28px;
                        color: white;
                        margin: 4%;
                        transform: scale(1);
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    p{
                        width: 60%;
                        font-size: 18px;
                        color: white;
                        text-align: left;
                        margin: 0;
                        text-indent: 0;
                        transform: scale(1);
                    }
                }         
            }
            
            .benefit1 {
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.2), $color-bg-overlay), url('backs/transfer.jpg');
                background-size: cover;
                transition: $transition-default;}
            .benefit2 {
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.2), $color-bg-overlay), url('backs/quadro.jpg');
                background-size: cover;
                transition: $transition-default;}
            .benefit3 {
                height: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.2), $color-bg-overlay), url('backs/transfer.jpg');
                background-size: cover;
                transition: $transition-default;}  
                
            &:hover .benefit {
                transform: scale(0.95);
                transition: $transition-default;
                filter: blur(10px);
            }
            
            .benefit {
                &:hover {
                    filter: blur(0);
                    transform: scale(1.05);
                    transition: $transition-default;
                    background-size: cover;
                }                
            }


            .popup {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 10;
                opacity: 0;
                visibility: hidden;
                overflow-y: auto;
                overflow-x: hidden;
                transition: all 0.8s ease 0s;
                &:hover {
                    transform: scale(1);
                    filter: none;
                }
                .popup-body {
                    min-height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .popup-content {
                        width: 85vw;
                        height: 80vh;
                        background-color: white;
                        border-radius: 30px;
                        border: $border;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;

                        .popup-close {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            background-color: #fff;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: $border;
                            cursor: pointer;
                        }
                    }
                }
            }
            .popup.open {
                opacity: 1;
                visibility: visible;
                transition: all 0.8s ease 0s;
                z-index: 100;
            }
        }
    }




    .section5 {
        height: auto;
        justify-content: center;
        gap: 5%;
        box-sizing: border-box;
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        height: 100vh;
        .map {
            width: 50%;
            height: 70vh;

            .map2 {
                width: 100%;
                height: 100%;
            }
        }
        .actions {
            width: 50%;
            flex-direction: column;
            gap: 10%;
        }
        

        .form-wrapper {
            width: 100%;
            margin: 0;
            min-height: 10vh;
            border: $border;
            border-radius: $border-radius;
            overflow: hidden;
            background: white;
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
            position: relative;

            .open {
                height: 75vh;
            }


            .form-header {
                background: #fff;
                cursor: pointer;
                width: 100%;
                height: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: $border-radius;


                h2 {
                    margin: 0;
                    font-size: 24px;
                    text-align: center;
                }
            } 


            .form {
                padding: 3%;
                box-sizing: border-box;
                margin-top: 2%;
                width: 100%;
                overflow: hidden;
                position: absolute;


                .open {
                    height: 75vh;
                }

                form {
                    width: 100%;
                    height: 100%;
                }

                .form-area {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    font-size: 28px;  
                    
                    label {
                        margin-top: 2%;
                    }

                    input,
                    textarea {
                        width: 100%;
                        height: 60px;
                        resize: none;
                        margin: 0;
                        border: $border;
                        border-radius: $border-radius;
                        padding: 10px 20px;
                        box-sizing: border-box;
                        font-size: 20px;
                        font-family: $font-stack;
                    }
                    textarea {
                        height: 150px;
                        overflow-y: scroll;  
                        scrollbar-width: none;
                        }
                    }
                }
                .send-btn {
                    width: 100%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 2%;

                    button{
                        height: 100%;
                        width: 175px;
                        border-radius: $border-radius;
                        border: $border;
                        background: black;   
                        color: white;           
                        transition: all 0.3s ease;
                        font-family: $font-stack;
                        font-size: 20px;
                    }
                    :hover {
                        color: black;
                        background: white;
                        transform: scale(1.05);
                        transition: all 0.3s ease;
                    }
                    :active {
                        background: gray;
                        color: white;
                        transform: scale(0.95);
                        transition: all 0.1s ease;

                    }
                }
            }
        }
    }

    .section6 {
        height: 4vh;
        place-items: center;
        margin-top: 2px;
        div {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            
            p {
            font-size: 12px;
            color: black;
            font-weight: 500;
            text-align: center;
            margin-top: 0;
        }
        }
        
    }