<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "main/css/main.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js"></script>
    <title>Document</title>
</head>
<body>

    <aside class="disflex">
        <nav class="disflex widthfull">

            <button class="home-btn">
                <div class="icon">
                    <img src="{% static 'main/img/icons/icon-home.png' %}" />
                </div>  
                <a href="#1st-anchor" class="text">
                    На главную
                </a>
            </butеon>

            <button class="about-btn">
                <div class="icon">
                    <img src="{% static 'main/img/icons/icon-about.png' %}" />
                </div>  
                <a href="#2nd-anchor" class="text">
                    О нас 
                </a>
            </button>

            <button>
                <div class="icon">
                    <img src="{% static 'main/img/icons/icon-about.png' %}" />
                </div>  
                <a href="#2nd-anchor" class="text">
                    О нас 
                </a>
            </button>

            <button>
                <div class="icon">
                    <img src="{% static 'main/img/icons/icon-about.png' %}" />
                </div>  
                <a href="#2nd-anchor" class="text">
                    О нас 
                </a>
            </button>
            
        </nav>
    </aside>
    <main>

        <section class="section1 widthfull disflex">
            <h1 id="1st-anchor">eldrock</h1>
        </section>

        <div class="logo-av widthfull disflex">
            <img src="{% static 'main/img/mount-art-main.png' %}" />
        </div>

        <section class="section2 widthfull disflex">
            <h2 id="2nd-anchor" >О нас</h2>
            <div class="about-photo disflex">
                <div class="photo">
                    <img src="{% static 'main/img/eldrock2.jpg' %}" />
                </div>
                <div class="about disflex">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero laborum voluptates esse quidem quod dolor culpa similique totam distinctio. Accusantium, earum in voluptatum, illo voluptatibus amet repellat odit harum, quisquam blanditiis accusamus iste distinctio maxime quod nesciunt iure non error sapiente? Odio, facere ad impedit consequuntur dolorum eos illum.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime accusantium atque optio enim sunt laborum!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum iure nihil similique voluptates inventore. Labore incidunt modi voluptatum assumenda non iusto tempora. Qui molestias soluta rem pariatur, obcaecati maxime culpa.
                    </p>
                </div>
            </div>
        </section>
        <section class="section3 widthfull disflex">
            <div class="about-photo disflex">
                <div class="about disflex">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id libero laborum voluptates esse quidem quod dolor culpa similique totam distinctio. Accusantium, earum in voluptatum, illo voluptatibus amet repellat odit harum, quisquam blanditiis accusamus iste distinctio maxime quod nesciunt iure non error sapiente? Odio, facere ad impedit consequuntur dolorum eos illum.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime accusantium atque optio enim sunt laborum!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum iure nihil similique voluptates inventore. Labore incidunt modi voluptatum assumenda non iusto tempora. Qui molestias soluta rem pariatur, obcaecati maxime culpa.
                    </p>
                </div>
                <div class="photo">
                    <img src="{% static 'main/img/eldrock3.jpg' %}" />
                </div>
            </div>
        </section>
        <section class="section4 widthfull disflex">
            
        </section>
    </main>    
</body>
<script src="/static/main/js/scripts.js"></script>
</html>